.socials{
    width: 330px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
}
.socials__item{
    width: 47px;
    height: 47px;
    margin-left: 47px;
    
}
.socials__item:first-child{
    margin-left: 0;
}
.socials__link{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url(gomer-images/socials.png);
}
.vk{
    background-position: -8px -10px;
        
}
.tw{
    background-position: -79px -10px;
}
.fb{
    background-position: -79px -10px;
}
.gh{
    background-position: -79px -10px;
}
